body {
  margin: 0; /* bỏ khoảng trắng mặc định */
}
header {
  width: 100%;
  height: 120px; /* chỉnh chiều cao tùy thích */
  background-color: rgb(255, 255, 255); /* hoặc #d97706 cho giống ảnh hơn */
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center; /* căn giữa theo chiều ngang */
  padding-top: 30px; /* căn giữa theo chiều dọc */
  font-size: 50px; /* kích thước chữ */
  font-weight: bold; /* in đậm chữ */
}
a {
  display: block;
  width: 100%;
  max-width: 250px; /* giới hạn chiều dài */
  margin: 10px auto; /* căn giữa */

  text-align: center;
  padding: 12px;

  background-color: rgb(255, 251, 251);
  color: black;
  text-decoration: none;

  font-size: 20px; /* giảm lại */
  font-weight: bold;

  border-radius: 10px;
  border: 2px solid #00eeffc6;

  transition: 0.3s;
  font-family:
    Arial Black,
    Gadget,
    sans-serif;
  background-color: #f5e6d3;
  color: #3a3a3a;
  border: 1px solid #e0c3a3;
}
a:hover {
  background-color: #e0c3a3; /* đổi màu nền khi hover */
  transform: scale(0.95); /* thu nhỏ nút khi hover */
}
div {
  display: flex; /* sử dụng flexbox để căn giữa */
  justify-content: center; /* căn giữa theo chiều ngang */
  align-items: center; /* căn giữa theo chiều dọc */
  height: 100px; /* chiều cao của div */
}
img {
  max-width: 100%; /* đảm bảo ảnh không vượt quá kích thước của div */
  height: auto; /* giữ tỷ lệ ảnh */
}
data {
  text-align: center; /* căn giữa chữ trong dd */
  padding: 10px; /* khoảng cách xung quanh chữ */
}
p {
  font-size: 25px; /* kích thước chữ */
  color: rgb(0, 0, 0);
  text-align: center; /* căn giữa chữ */
  font-weight: bold; /* in đậm chữ */
}
h1 {
  font-weight: bold;
  background: linear-gradient(
    270deg,
    #ff6b6b,
    /* đỏ hồng đậm hơn */ #ff8e53,
    /* cam đậm */ #ffd93d,
    /* vàng rõ hơn */ #6bcb77,
    /* xanh lá */ #4d96ff,
    /* xanh dương */ #845ec2,
    /* tím */ #c77dff /* tím hồng */
  );

  background-size: 400%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: lofiRainbow 16s ease-in-out infinite;
}
@keyframes lofiRainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  background-image: url("c72e725689bfcaeff53bff7a29879215.jpg"); /* ảnh bạn */
  background-size: cover; /* full màn hình */
  background-position: center; /* căn giữa */
  background-repeat: no-repeat;
}
img {
  width: 200px; /* điều chỉnh kích thước ảnh */
  height: auto; /* giữ tỷ lệ ảnh */
  display: block; /* hiển thị dưới dạng khối để dễ căn chỉnh */
  margin: 0 auto; /* căn giữa theo chiều ngang */
  border-radius: 120px;
}
h1 {
  font-family:
    Arial Black,
    Gadget,
    sans-serif; /* font chữ đậm và hiện đại */
}
